footer{
    background: #000;
    padding: 8px 0;
  }
  footer p{
    margin: 0;
    text-align: center;
    color: #ffff;
    font-size: 18px;
    text-align: center;
  }
  .menuswrap a{
    text-decoration: none;
  padding: 0 9px;
  color: #ddd;
  border-right: 2px solid #ddd;
  }
  .menuswrap{
    text-align: center;
    margin: 15px 0;
  }