footer{
  background: #f7f7f7;
    padding: 40px 0 0 0;
  }
  footer p{
    margin: 0;
    color:  #5a5757;;
    font-size: 16px;


  }
  
  .menuswrap a{
    text-decoration: none;
    padding: 0 9px;
    color: #5a5757;
    font-size: 17px;
  }
  .menuswrap{
    margin: 15px 0;
  }
  .menuswrap ul{
    padding-left: 0px;
  }
  .menuswrap li{
    list-style: none;
    margin-bottom: 7px;
  }
footer img{
  width: 50%;
  margin-bottom: 27px;
}
.footer-title{
  font-weight: 600;
  color: #040430;
  font-size: 23px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

footer .ico svg{
  color: #ffffff;
  background: #ed4883;
  padding: 7px;
  width: 33px;
  height: 32px;
  border-radius: 50%;
}
.cpyright{
  color: #5a5757;
  font-size: 16px;
  padding: 20px 0;
  border-top: 1px solid #c7c7c7;
  margin-top: 20px;
  text-align: center;
}



.menuswraps li{
list-style: none!important;
}
footer{
    padding-left: 1em!important;
    padding-right: 1em!important;
}

.linkswrap svg{
  background: #ed4883;
  color: #fff;
  border-radius: 50%;
}