footer{
    background: #1e212c;
    padding: 40px 0 0 0;
  }
  footer p{
    margin: 0;
    color: #ababab;
    font-size: 15px;


  }
  
  .menuswrap a{
    text-decoration: none;
  padding: 0 9px;
  color: #ababab;
  font-size: 16px;
  }
  .menuswrap{
    margin: 15px 0;
  }
  .menuswrap ul{
    padding-left: 0px;
  }
  .menuswrap li{
    margin-bottom: 7px;
  }
footer img{
  width: 115px;
  margin-bottom: 20px;
}
.footer-title{
  color: #c7c3c3;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer svg{
  color: #ababab;
}
.cpyright{
  padding: 20px 0;
  border-top: 1px solid #626161;
  margin-top: 20px;
  text-align: center;
}