.navbar-expand-lg .navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #fff;
    font-size: 18px!important;
    padding: 5px 12px!important;
    font-weight: 600!important;

}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
}
.navbar-brand {
    font-weight: 900;
    font-size: 25px;
    color: #67abd0;
}

.navbar {

    background: #000d!important;

}

.nav-link:focus, .nav-link:hover{
    color: #fff!important;
}

.navbar img{
    width: 35%;
}