.homesub{
    align-items: center;
    justify-content: space-between;
    border: none!important;
    background: #ed4883 none repeat scroll 0 0;
    border-radius: 50px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 20px;
    display: block;
    /* height: 70px; */
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 700;
    /* margin-right: 15px; */
    overflow: hidden;
    padding: 20px 20px;
    position: relative;
    text-transform: uppercase;
    box-shadow: 0 16px 32px rgba(0, 0, 0, .2);
}

.form-sec{
    padding: 32px;

    border-style: dashed;
    border-width: 2px 2px 2px 2px;
    border-color: #9747ff;
    box-shadow: 17px 17px 25px -10px rgba(111, 110, 110, 0.5);
}

.form-sec h4{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}