.carousel-item img{
    vertical-align: middle;
    height: 400px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.carousel {
    margin: 0 0 35px 0;
}

.carousel-caption {
    bottom: 8.25rem;
}
h3{
    font-size: 46px!important;
    margin: 20px 0;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff!important;
}